//creamos un un objeto con las dependecias que instalamos de babel, es decir los preset

{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}